extends layout

block content
    hr
    .container
        form#homeform.input-group.input-group-lg(method='post', action='/')
            span.glyphicon.glyphicon-search.input-group-addon
            input.form-control(type='search', placeholder='Search', name='searchstring')
        hr
        .table-responsive
            table.table.table-striped.table-hover
                thead
                    tr
                        th STT
                        th Tên
                        th Địa chỉ
                        th Số điện thoại
                tbody
                    if tableData
                        - var i = 1
                        for userInfo in tableData
                            tr
                                td=i++
                                td=userInfo.Name
                                td=userInfo.Phone
                                td=userInfo.Address

    //Whenever user hit Enter, the search form will submit the search string
    script.
        $('input').keypress(function (event) {
            if (event.keyCode === 13) {
                $('#homeform').submit();
            }
        })