extends layout

block content
    hr
    .container
        .input-group.input-group-lg
            span.glyphicon.glyphicon-search.input-group-addon
            input.form-control(type='search', placeholder='Search', name='searchstring')
        hr
        .row(align='center', style=' background-color: aqua')
            .col-lg-4
                h4
                    strong Khách hàng
            .col-lg-4
                h4
                    strong Số điện thoại
            .col-lg-4
                h4
                    strong Địa chỉ