doctype html
html(lang='en')
    head
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        // Bootstrap
        link(href='./css/bootstrap.css', rel='stylesheet')
        link(href='./css/bootstrap-select.css', rel='stylesheet')
        link(href='./css/bootstrap-table.css', rel='stylesheet')

        script(src='./js/jquery-1.11.3.min.js')
        script(src='./js/bootstrap.js')
        script(src='./js/bootstrap-select.js')
        script(src='./js/bootstrap-table.js')
        //put your locale files after bootstrap-table.js
        script(src='./js/bootstrap-table-locale-all.js')

        title=title
    body
        nav.navbar.navbar-default.navbar-inverse
            .container-fluid
                // Brand and toggle get grouped for better mobile display
                .navbar-header
                    button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#defaultNavbar1')
                        span.sr-only Toggle navigation
                        span.icon-bar
                        span.icon-bar
                        span.icon-bar
                    a.navbar-brand(href='/') Cô Ti
                // Collect the nav links, forms, and other content for toggling
                #defaultNavbar1.collapse.navbar-collapse
                    ul.nav.navbar-nav
                        li
                            a(href='/bill') Bill
                        li
                            a(href='/cost') Costing
                        li.dropdown
                            a.dropdown-toggle(href='#', data-toggle='dropdown', role='button', aria-expanded='false')
                                | Report
                                span.caret
                            ul.dropdown-menu(role='menu')
                                li
                                    a(href='/datereport') Date
                // /.navbar-collapse
            // /.container-fluid
        .container-fluid
            .row
                .col-sm-6.col-sm-offset-3
                    h1.text-center Sales Management
        .container
            hr
            .well(align='center')
                h3
                    strong #{slogan}
            hr
            block content
    hr
    .row
        .text-center.col-sm-6.col-sm-offset-3
            h4
                strong A product by CuongDao
            p Copyright © 2017 · All Rights Reserved · Đào Quốc Cường
    hr